body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 10px;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  background-image: url("../img/bg-4.jpg");
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
@media (min-width: 650px) {
  html {
    font-size: 20px;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
}
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.card {
  width: 12%;
  padding-top: 16.8%;
  margin-top: 20px;
  margin-left: 4.66666667%;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 7.5%;
  cursor: pointer;
}
.animate {
  -webkit-animation: rotate 0.8s forwards;
          animation: rotate 0.8s forwards;
}
.animate-reverse {
  -webkit-animation: rotate-reverse 0.8s forwards;
          animation: rotate-reverse 0.8s forwards;
}
@-webkit-keyframes rotate {
  0% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  49.63% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
  }
  50% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
  }
  100% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 180deg) scale(1);
            transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }
}
@keyframes rotate {
  0% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  49.63% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
  }
  50% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
  }
  100% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 180deg) scale(1);
            transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }
}
@-webkit-keyframes rotate-reverse {
  0% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  49.63% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
  }
  50% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
  }
  100% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 180deg) scale(1);
            transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }
}
@keyframes rotate-reverse {
  0% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  49.63% {
    background: url("https://3.bp.blogspot.com/--Ww2l7IzT1E/VNtRxd8fH3I/AAAAAAAANf0/dsccFz2ybHo/s1600/stacks_image_21.png") no-repeat center center;
    background-size: 50px auto;
    border: 2px solid #000000;
    -webkit-transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
  }
  50% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
            transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
  }
  100% {
    background: repeating-linear-gradient(135deg, #031927 0, #031927 10px, #508aa8 10px, #508aa8 13px);
    -webkit-transform: rotate3d(0, 1, 0, 180deg) scale(1);
            transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }
}
.field {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1500px;
  margin-left: -4.66666667%;
}
.empty-card {
  width: 12%;
  padding-top: 16.8%;
  margin-left: 4.66666667%;
  margin-top: 20px;
}
.popup {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 3.25rem;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.85);
}
.popup__text {
  margin-bottom: 10px;
}
.popup__points {
  margin-bottom: 25px;
  font-weight: 700;
  color: #ff0000;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.start__image {
  margin: 50px 0;
}
.start__button {
  margin-bottom: 25px;
  padding: 20px;
  font-weight: 700;
  font-size: 2.25rem;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border: 8px solid #ffffff;
  border-radius: 17px;
  cursor: pointer;
}
.start__button:focus,
.start__button:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.start__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.6;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.menu__item {
  margin-left: 20px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item--end {
  display: none;
}
.menu__item--points {
  position: absolute;
  right: 0;
  display: none;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Open Sans", arial, helvetica, sans-serif;
}
.menu__end {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: #ffffff;
  background-color: #f1d302;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.menu__end:hover,
.menu__end:focus {
  background-color: #ed1c24;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.menu__end:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}
@media (min-width: 650px) {
  .menu__end {
    font-size: 0.8rem;
  }
}
.menu__message {
  display: inline-block;
  margin-right: 10px;
}
.menu__points {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  background-color: #05a8aa;
  border: 3px solid white;
  border-radius: 9px;
}
.music__label {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #0b1426 url("../img/note.svg") no-repeat center center;
  background-size: 80% auto;
  border-radius: 50%;
  cursor: pointer;
}
.music__label:hover,
.music__label:focus {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.music__label:active {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.music:checked + .music__label {
  background-image: url("../img/mute.svg");
  background-size: 75% auto;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #ed1c24;
}
.radio {
  display: none;
}
