.menu {
  .reset-list;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5px;

  background-color: rgb(238, 237, 237);
  border-radius: 8px;
}

.menu__item {
  margin-left: 20px;

  &--end {
    display: none;
  }

  &--music {
    width: 40px;
    height: 40px;
    margin-left: 0;
  }

  &--points {
    display: none;

    font-weight: 700;
    font-size: 1rem;
    font-family: @font;
  }

  &--timer {
    margin-right: 15px;
    margin-left: auto;

    font-weight: 700;
    font-size: 0;
    font-family: @font;
  }

  &--timer-on {
    font-size: 1rem;
  }
}

.menu__end {
  background-color: rgb(241, 211, 2);
  border: 2px solid rgb(255, 255, 255);

  &:hover,
  &:focus {
    background-color: rgb(237, 28, 36);
  }
}

.menu__time-button {
  font-size: 0;

  background-color: rgb(181, 68, 110);
  background-image: url("../img/time.svg"),
    linear-gradient(135deg, rgb(181, 68, 110) 0, rgb(181, 68, 110) 47%, rgb(255, 255, 255) 47%, rgb(255, 255, 255) 53%, rgb(181, 68, 110) 53%, rgb(181, 68, 110) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% auto;
  border: 2px solid rgb(255, 255, 255);

  &--on {
    background-color: rgb(48, 188, 237);
    background-image: url("../img/time.svg");
  }
}

.menu__select {
  width: 0;

  font-weight: 700;
  font-family: @font;

  border: none;
  border-radius: 11px;
}

.menu__message {
  display: inline-block;
  margin-right: 10px;
}

.menu__points {
  display: inline-block;
  padding: 5px 10px;

  color: white;

  background-color: rgb(48, 188, 237);
  border: 3px solid white;
  border-radius: 9px;
}

.menu__timer {
  .menu__points;

  display: none;

  background-color: rgb(183, 119, 201);
}

@media @tablet {
  .menu {
    justify-content: center;
  }

  .menu__item {
    &--music {
      width: 50px;
      height: 50px;
      margin-left: 45%;
    }
  }

  .menu__select {
    margin-right: 0;
  }
}
