.card {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  cursor: pointer;
  background-image: @shirt;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 50px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}

.animate {
  animation: rotate 0.8s forwards;
}

.animate-reverse {
  animation: rotate-reverse 0.8s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    background: @shirt;
  }

  49.63% {
    transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
    background: @shirt;
  }

  50% {
    transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
    background: @front-side;
    background-size: @bg-size;
    border: @border;
  }

  100% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1);
    background: @front-side;
    background-size: @bg-size;
    border: @border;
  }
}

@keyframes rotate-reverse {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    background: @front-side;
    background-size: @bg-size;
    border: @border;
  }

  49.63% {
    transform: rotate3d(0, 1, 0, 88.2deg) scale(1.07);
    background: @front-side;
    background-size: @bg-size;
    border: @border;
  }

  50% {
    transform: rotate3d(0, 1, 0, 90deg) scale(1.07);
    background: @shirt;
  }

  100% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1);
    background: @shirt;
  }
}
