body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  max-width: 1500px;
  margin: 0 auto;

  font-size: 10px;
  font-family: @font;

  background-image: url("../img/bg-4.jpg");
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;

  @media (min-width: 650px) {
    font-size: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
