body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 480px;
  margin: 0 auto;
  height: 100vh;

  font-size: 10px;
  font-family: @font;

  background-image: url("../img/bg.png");
  background-size: cover;
  border: 50px solid transparent;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media @tablet {
  body {
    border-width: 60px;
  }

  html {
    font-size: 20px;
  }
}
